body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(32,32,32);
    height: 100vh;
    color: #fff;
}

.scrollbar-primary::-webkit-scrollbar {
    background-color: rgb(32,32,32);
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #777;
}