.toggle-div {
  width: 100%;
  margin-top: 50px;
  height: 70vh;
  background-color: #383838;
  box-shadow: 20px 20px 30px #05050596;
}

.show-toggle-div {
  width: 80%;
  margin: 0 auto;
  height: 50vh;
  padding: 20px;
  background-color: #222;
  border: 1px solid #222;
  overflow: auto;
}

.show-toggle-div p {
  color: teal;
}

.git-task-div {
  z-index: 99;
  padding: 20px;
  text-align: center;
}

.git-task-div button {
  letter-spacing: 2px;
}

.list-titles {
  list-style: none;
  padding: 5px;
  letter-spacing: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.list-titles a {
  background-color: #ffd700;
  border: 7px solid #c49b2b;
  padding: 5px;
  border-radius: 2px;
  color: #31b4ae;
}

.list-titles:hover a {
  background-color: #d8b803;
}

.li-text {
  color: #212f33;
}

.task-text {
  background-color: #00646b;
  border: 7px solid #00474d;
  margin: 10px;
}