.main-container {
	width: 100%;
	margin: 0 auto;
	z-index: 2;
}

@media (max-width: 720px) {
	.main-container {
		width: 100%;
		left: 0;
		padding: 80px 20px;
	}
}

@media (max-width: 425px) {
	.main-container {
		width: 100%;
		left: 0;
		padding: 20px;
	}
}