.marketcard {
  position: relative;
  width: 13%;
  height: 300px;
  color: #aaa;
  float: left;
}

.marg {
  margin: 0 60px;
}

.front-card,
.back-card {
  position: absolute;
  backface-visibility: hidden;
  transition: all 300ms ease-in-out;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  outline: 1px solid #aaa;
  outline-offset: -8px;
  background-color: #212f33;
  padding: 15px;
  cursor: pointer;
}

.front-card {
  transform: perspective(600px) rotateY( -20deg);
  writing-mode: vertical-rl; 
}

.back-card {
  opacity: 0;
  transform: perspective(600px) rotateY( -90deg);
}

.isactive {
  color: #fff;
  writing-mode: horizontal-tb; 
  transform: perspective(600px) rotateY( 0deg);
  transform: scale(1.2,1.2);
  z-index: 99 !important;
}

.backactive {
  opacity: 1;
  writing-mode: horizontal-tb; 
  transform: perspective(600px) rotateY( -180deg);
  transform: scale(1.2,1.2);
  z-index: 99 !important;
  color: #fff;
}

/* Card Front */
.front-card h3 {
  margin-top: 15px;
}
.card-tags {
  font-size: 13px;
}

.card-pebbles {
  position: absolute;
  writing-mode: horizontal-tb; 
  top: 8px;
  right: 25px;
  padding: 2px;
  font-size: 10px;
  text-align: right;
}

.card-pebble-img {
  position: absolute;
  writing-mode: horizontal-tb; 
  top: 12px;
  right: 10px;
  height: 15px;
}

/* Card Back */
.fixed-para-length {
  height: 232px;
  font-size: 12px;
  overflow: auto;
}

hr.card-hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #212f33, #ccc, #212f33);
}

.card-creator {
  color: #aaa;
  font-size: 8px;
  width: 170px;
  overflow: hidden;
}


/* Card buttons */
.choose-card-btn,
.flip-card-btn {
  position: absolute;
  bottom: 15px;
  background-color: #212f33;
  border: none;
  color: #fff;
  padding: 5px 10px;
  transition: all 300ms ease-in-out;
}

.choose-card-btn {
  left: 25px;
}

.flip-card-btn{
  right: 15px;
}

.choose-card-btn:hover,
.flip-card-btn:hover {
  text-shadow: 0 0 15px #aaa;
}

.choose-card-btn:focus,
.flip-card-btn:focus {
    outline: none;
}