.task-div {
    position: relative;
    margin: 6% auto;
    margin-bottom: 0;
    height: 600px;
    padding: 20px 40px;
    border-radius: 7px;
    box-shadow: 20px 20px 30px #05050596;
    background-color: #383838;
    overflow: auto;
}