
td, th {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.shortHash {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.tr-row a {
  color: gold;
}

.tr-row a:hover {
  color: gold;
  border-bottom: 1px solid gold;
}