td, th {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.shortHash {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.tr-row a {
  color: gold;
}

.tr-row a:hover {
  color: gold;
  border-bottom: 1px solid gold;
}

.previous, .next {
  border-radius: 5px;
  border: 2px solid #00b5ad;
  background-color: transparent;
  color: #00b5ad;
  padding: 5px;
}

.table-buttons {
  text-align: center;
}

.previous:hover {
  cursor: pointer;
}

.next:hover {
  cursor: pointer;
}

.previous {
  float: left;
}

.next {
  float: right;
}

.page-num {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 12px;
}

