.show-div {
    position: relative;
}

.show-div button{
    position: absolute;
    right: 0px;
    height: 100%;
    color: #14c714;
    border: none;
    padding: 10px;
    background-color: transparent;
}

.show-div button:hover{
    color: #e6e6e6;
    text-shadow: 3px 3px 3px #000;
}

.show-div button:focus{
    outline: none;
}

.comment-box,
.solution-box,
.reward-box {
    list-style-type: none;
    padding: 7px;
    line-height: 20px;
    margin: 10px 50px 10px 0px;
    transition: all 300ms ease-in-out;
}

.solution-link,
.sol-user {
    color: #fff;
}

.solution-link:hover .solution-box span{
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}

.sol-user {
    font-size: 10px;
    text-align: right;
}

.comment-box {
    border: 7px solid #00474d;
    background-color: #00646b;
}

.solution-box {
    border: 7px solid #6b4f00;
    background-color: #946c00;
}

.reward-box {
    border: 7px solid #3b1616;
    background-color: #5c1f1f;
}

.solution-link:hover .solution-box {
    background-color: #6b4f00;
}

.solution-link:hover .reward-box  {
    background-color: #3b1616;
}