.title-box {
	position: relative;
	width: 100%;
	border: 1px solid #555;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: transparent;
	letter-spacing: .6px;
	margin-top: 30px;
}

.title-div {
	position: absolute;
	top: 0px;
	width: 100%;
	background-color: #555;
	padding: 12px 20px;
}

.title-div h2 {
	letter-spacing: 2px;
}

.info-div {
	margin-top: 60px;
	padding: 15px;
	font-size: 15px;
	line-height: 28px;
}

.info-div p{
	line-height: 28px;
}

.info-div img{
	height: 250px;
	border: 3px solid #555;
	margin: 5px;
}

.info-div hr {
	display: block;
    height: 1px;
    border: 0;
	border-top: 1px solid #444;
	margin: 30px 30px 10px 10px;
}

.info-div a {
	color: #00b5ad;
}

.info-div a:hover {
	color: #03ebdf;
	border-bottom: 1px solid #03ebdf;
}