.snippet-container {
	padding: 15px;
    margin: 50px 5px;
    color: #aaa;
    background: transparent;
    position: relative;
}

.snippet-container h3{
    color: #ddd;
}

.snippet-container p,
.snippet-container li{
    letter-spacing: 1px;
    line-height: 24px;
    margin-top: 7px;
}

.snippet-container img {
    position: absolute;
    top:20%;
    opacity: .5;
}