.profile-div {
  text-align: center;
}

.span-user {
  font-size: 10px;
  background-color: gold;
  padding: 3px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.label {
  font-size: 25px;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

.avatar {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.span-pebbles {
  margin-top: 20px;
  display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(123, 128, 139);
  font-family: 'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
  letter-spacing: 2px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.shortHash {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* tr:nth-child(even) {
  background-color: #929da0
} */

td {
  color: gold;
}

td:nth-child(1),
td:nth-child(3) {
  width: 25%;
}
td:nth-child(2) {
  width: 50%;
} 

.tr-row {
  background-color: #323232b7;
}

.tr-header {
  background-color: #212f33;
}

.table-header {
  padding-top: 10%;
  text-align: center;
  letter-spacing: 3px;
  padding-bottom: 10px;
}

.profile-div input {
  padding: 5px;
  width: 80%;
  color: #ffffff;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  background-color: #212f33;
  display: block;
  margin: 0 auto;
  border: none;
}

.profile-div input::placeholder {
  color: white;
}

.profile-div button {
  margin: 0 auto;
  margin-top: 5px;
  display: block;
  border-radius: 5px;
  border: 2px solid #00b5ad;
  background-color: transparent;
  color: #00b5ad;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 6px 15px;
}


.gitSol, .createdTasks {
  position: absolute;
  margin-top: 80px;
}

.gitSol p, .createdTasks p {
  font-size: 12px;
}