@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

:root {
    --solution-color: #00b5ad;
    --comment-color: #00b5ad;
}
.task-pebble-img{
    height: 30px;
    position: relative;
    left: 6px;
    top: 12px;
}

.pebble-div {
    margin-top: -15px;
    margin-left: 14px;
    height: 10px;
}

.task-problem {
    position: relative;
    height: 95%;
    padding: 15px;
    overflow: auto;
    background-color: #333;
    margin-left: 14px;
    overflow: auto;
}

.title-div {
    margin: 0 auto;
    width: 55%;
    text-align: center;
}

.creator-info-div {
    margin: -5px 0 30px 20px;
}

.creator-info-div p {
    line-height: 8px;
    font-size: 12px
}

.task-problem h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    text-decoration: underline;
    letter-spacing: 1px;
}

.div-blue-box {
    background-color: #424f5f;
    padding: 5px 8px;
    margin: 8px 5px 8px 0px;
    font-family: 'Cutive Mono', monospace;
}


/* solution / Comment section */
.sol-com-btn-div {
    position: absolute;
    top: 15px;
    right: 20px;
}

.sol-col-show-div {
    margin-right: 14px;
    height: 60%;
    background-color: #222;
    padding: 1px;
}

.sol-com-input-div {
    position: relative;
    height: 30%;
    margin-top: 14px;
    margin-right: 14px;
}

.sol-com-input-div input,
.sol-com-input-div textarea {
    width: 100%;
    padding: 8px;
    border: none;
    color: #fff;
    background-color: #222;
    margin: 0;
}

.sol-com-input-div input {
    /* position: absolute;
    bottom: 45px; */
}

.sol-com-input-div textarea {
    height: 70%;
}

.sol-com-input-div input:focus,
.sol-com-input-div textarea:focus,
.sol-com-input-div button:focus {
    outline: none;
}

.sol-com-input-div input::placeholder {
    color: var(--solution-color);
    letter-spacing: 1px;
}

.sol-com-input-div textarea::placeholder {
    color: var(--comment-color);
}

.sol-com-input-div button {
    position: absolute;
    bottom: 10px;
    left: 0;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color:#ccc;
    background-color: transparent;
    letter-spacing: 2px;
    transition: all 300ms ease-in-out;
}

.sol-com-input-div button:active {
    background-color: #222;
}


/* Overwrite semantics */
.ui.grid {
    height: 100%;
    margin-top: 25px;
}