@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

:root {
    --solution-color: #00b5ad;
    --comment-color: #00b5ad;
}
.task-pebble-img{
    height: 30px;
    position: relative;
    left: 6px;
    top: 12px;
}

.pebble-div {
    margin-top: -15px;
    margin-left: 14px;
    height: 10px;
}

.task-problem {
    position: relative;
    height: 95%;
    padding: 15px;
    /* overflow: auto; */
    background-color: #333;
    margin-left: 14px;
}

.creator-info-div {
    color: #ccc;
    margin: -5px 0 30px 20px;
}

.creator-info-div p {
    line-height: 8px;
    font-size: 12px
}

.creator-info-div a {
    color: #ccc;
}

.creator-info-div a:hover {
    color: #ccc;
    text-decoration: underline;
}

.task-problem h4 {
    color: #ccc;
    margin-top: 15px;
    margin-bottom: 5px;
    text-decoration: underline;
    letter-spacing: 1px;
}

.div-blue-box {
    background-color: #424f5f;
    padding: 5px 8px;
    margin: 8px 5px 8px 0px;
    font-family: 'Cutive Mono', monospace;
    overflow: auto;
}

.task-add-pebb {
    width: 350px;
    margin: 0 auto;
    margin-top: 15px;
}

.task-add-pebb label {
    letter-spacing: 2px;
}

.task-add-pebb input {
    width: 85px;
    margin-left: 10px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #00b5ad;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
}

.task-add-pebb input:focus {
    outline: none;
    border-radius: 0px;
}

.task-add-pebb input::placeholder {
    color: #888;
    letter-spacing: .5px;
}

.task-add-pebb button {
    margin-left: 10px;
    padding: 7px 20px;
    border-radius: 3px;
    border: none;
    background-color: #222;
    color:#ccc;
    letter-spacing: 1px;
}

.task-add-pebb button:hover {
    cursor: pointer;
}


/* solution / Comment section */
.sol-com-btn-div {
    position: absolute;
    top: 15px;
    right: 20px;
}

.sol-col-show-div {
    margin-right: 14px;
    height: 60%;
    background-color: #222;
    padding: 1px;
    overflow: auto;
}

.sol-com-input-div {
    position: relative;
    height: 30%;
    margin-top: 14px;
    margin-right: 14px;
}

.sol-com-input-div input,
.sol-com-input-div textarea {
    width: 100%;
    padding: 8px;
    border: none;
    color: #fff;
    background-color: #222;
    margin: 5px 0;
}

.sol-com-input-div textarea {
    height: 80px;
}

.sol-com-input-div input:focus,
.sol-com-input-div textarea:focus,
.sol-com-input-div button:focus,
.task-add-pebb button:focus {
    outline: none;
}

.sol-com-input-div input::placeholder,
.sol-com-input-div textarea::placeholder  {
    color: #00b5ad;
    letter-spacing: 1px;
}

.sol-com-input-div button {
    position: absolute;
    bottom: 10px;
    margin-top: 10px;
    width: 40%;
    padding: 7px;
    border-radius: 3px;
    border: none;
    background-color: #222;
    color:#ccc;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 100ms ease-in-out;
}

.task-submit {
    left: 0;
}

.task-clear {
    right: 0;
}

.sol-com-input-div button:hover {
    letter-spacing: 1px;
    bottom: 15px;
    box-shadow: 5px 5px 5px #000000ab;
    cursor: pointer;
}

.sol-com-input-div button:active {
    bottom: 10px;
    box-shadow: none;
}

.sol-col-chosen {
    height: 100%;
    width: 100%;
    background-color: #222;
    padding: 10px;
}

.sol-col-chosen h4{
    text-decoration: underline;
}

.sol-col-chosen a{
    color: #fff;
}

.sol-col-chosen a:hover{
    text-decoration: underline;
    font-weight: bold;
}

.sol-col-chosen a:hover div{
    background-color: #3b1616;
}

.sol-col-chosen a div{
    border: 7px solid #3b1616;
    background-color: #5c1f1f;
    padding: 7px;
    line-height: 20px;
    margin: 10px;
    text-align: center;
    letter-spacing: 1px;
}


/* Overwrite semantics */
.ui.grid {
    height: 100%;
    margin-top: 25px;
}