@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

.title-div {
    margin: 0 auto;
    width: 55%;
    text-align: center;
}

.task-pebble-img{
    height: 30px;
    position: relative;
    left: 6px;
    top: 12px;
}

.task-problem {
    height: 85%;
    border-right: 1px solid #fff;
    padding-right: 5px;
    overflow: auto;
}

.task-problem h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.detail-p {
    margin-left: 4px;
}

.ui.grid {
    height: 100%;
    margin-top: 10px;
}

.sol-com-btn-div {
    position: absolute;
    top: 20px;
    right: 20px;
}

.pebble-div {
    line-height: 30px;
    position: absolute;
    top: 8px;
    left: 20px;
}

.tag-div-box {
    background-color: #424f5f;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 8px 5px 8px 0px;
    word-spacing: 7px;
    font-family: 'Cutive Mono', monospace;
}

.creator-info-div {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.creator-info-div p {
    line-height: 8px;
    font-size: 12px
}
